<div class="nav-wrapper">
    <ul id="nav" class="nav" data-slim-scroll data-collapse-nav data-highlight-active>
        <li><a md-button aria-label="meanu" href="#/dashboard"><i class="zmdi zmdi-home"></i>首页</a></li>
        <li>
            <a md-button aria-label="meanu" href="#/reception"><i class="zmdi zmdi-library"></i>接待管理</a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/reception/visit"><i class="zmdi zmdi-assignment-o"></i>来访接待</a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/members"><i class="zmdi zmdi-airline-seat-recline-extra"></i>老人管理</a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/members/members"><i class="zmdi zmdi-walk"></i>老人信息</a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/beds"><i class="zmdi zmdi-hotel"></i>床位管理</a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/beds/beds"><i class="zmdi zmdi-widgets"></i>床位信息</a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/hr"><i class="zmdi zmdi-flower-alt"></i>员工管理</a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/hr/employees"><i class="zmdi zmdi-group-work"></i>员工信息</a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/financials"><i class="zmdi zmdi-money-box"></i>财务管理</a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/financials/payments"><i class="zmdi zmdi-shopping-cart"></i>费用管理</a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/statistics"><i class="zmdi zmdi-chart"></i>统计报表</a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/statistics/financials"><i class="zmdi zmdi-money-box"></i>财务数据</a></li>
                <li><a md-button aria-label="meanu" href="#/statistics/beds"><i class="zmdi zmdi-hotel"></i>床位数据</a></li>
                <li><a md-button aria-label="meanu" href="#/statistics/members"><i class="zmdi zmdi-airline-seat-recline-extra"></i>老人数据</a></li>
                <li><a md-button aria-label="meanu" href="#/statistics/hr"><i class="zmdi zmdi-flower-alt"></i>员工数据</a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/system-manager"><i class="zmdi zmdi-settings"></i>系统管理</a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/system/users"><i class="zmdi zmdi-accounts-alt"></i>用户管理</a></li>
                <li><a md-button aria-label="meanu" href="#/system/privileges"><i class="zmdi zmdi-shield-security"></i>权限管理</a></li>
                <li><a md-button aria-label="meanu" href="#/system/settings"><i class="zmdi zmdi-code"></i>系统设置</a></li>
                <li><a md-button aria-label="meanu" href="#/system/logs"><i class="zmdi zmdi-info"></i>操作记录</a></li>
            </ul>
        </li>
    </ul>
</div>
