<div class="page">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">陶渊明</h2>
        </div>
        <div class="col-md-12">
            <div class="row" data-ng-controller="MemberTabsCtrl" ng-cloak>
                <div class="col-md-12">
                    <section class="panel panel-default">
                        <div class="panel-body no-padding">
                            <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
                                <md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled" label="{{tab.title}}">
                                    <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
                                        <div ng-bind="tab.content"></div>
                                        <br/>
                                        <md-button class="md-primary md-raised" ng-click="removeTab(tab)" ng-disabled="tabs.length <= 1">Remove Tab</md-button>
                                    </div>
                                </md-tab>
                            </md-tabs>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
